@media screen and (min-width: 1000px) {
  .header {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}
.header__logo {
  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
}
@media screen and (min-width: 1000px) {
  .header__logo {
    width: 260px;
    margin-left: 20px;
  }
}

.menu__checkbox {
  position: absolute;
  left: -9999px;
}
.menu__list {
  display: none;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #2F2D2E;
}
@media screen and (min-width: 1000px) {
  .menu__list {
    margin-right: 40px;
    display: flex;
    background-color: white;
  }
}
.menu__item {
  border-bottom: 1px solid white;
}
@media screen and (min-width: 1000px) {
  .menu__item {
    border-bottom: 0;
  }
}
.menu__link {
  display: block;
  text-decoration: none;
  padding: 10px 10px;
  color: white;
  border-radius: 0px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 20px;
}
@media screen and (min-width: 1000px) {
  .menu__link {
    color: #242424;
    font-weight: bold;
    border-radius: 15px;
  }
}
.menu__link:hover {
  background-color: #D19C1D;
  color: white;
}
.menu .menu__item--active .menu__link {
  color: #D19C1D;
}
.menu .menu__item--active .menu__link:hover {
  color: white;
}
@media screen and (min-width: 1000px) {
  .menu .menu__item--active .menu__link:hover {
    background-color: #D19C1D;
    color: white;
  }
}
@media screen and (max-width: 999px) {
  .menu .menu__checkbox:checked ~ .menu__list {
    display: block;
  }
}
.menu .menu__toggler {
  cursor: pointer;
}
@media screen and (min-width: 1000px) {
  .menu .menu__toggler {
    display: none;
  }
}
.menu .tog {
  font-weight: bold;
  font-size: 38px;
  position: absolute;
  right: 50px;
  top: 65px;
}

.hero {
  margin-bottom: 80px;
}
.hero__image {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: none;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 1000px) {
  .hero__image {
    height: 460px;
  }
}

.hero__image--homepage {
  background-image: url(./../images/hero/hero-homepage.jpg);
}

.hero__image--hero-onas {
  background-image: url(./../images/hero/hero-onas.jpg);
}

.hero__image--nabidka {
  background-image: url(./../images/hero/hero-nabidka.jpg);
}

.hero__image--fotogalerie {
  background-image: url(./../images/hero/hero-fotogalerie2.jpg);
}

.hero__image--akce {
  background-image: url(./../images/hero/hero-akce.jpg);
}

.hero__image--kontakt {
  background-image: url(./../images/hero/hero-kontakt.jpg);
}

.footer__grid {
  padding: 40px;
  background-color: #2F2D2E;
  color: white;
  text-align: center;
}
@media screen and (min-width: 680px) {
  .footer__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
    justify-items: center;
  }
}
.footer__grid-column {
  margin-bottom: 20px;
}
@media screen and (min-width: 680px) {
  .footer__grid-column {
    grid-column: span 1;
    margin-bottom: 0;
  }
}
.footer__copyright {
  color: #D19C1D;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 15px;
}

.about-content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.card-general {
  padding: 40px;
  margin-bottom: 40px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid silver;
  border-radius: 10px;
  box-shadow: 1px 2px 2px #dbdbdb;
}
@media screen and (min-width: 1000px) {
  .card-general {
    display: flex;
    align-items: center;
  }
}
.card-general__content {
  background-color: white;
  padding: 20px;
  text-align: center;
}
@media screen and (min-width: 1000px) {
  .card-general__content {
    background-color: white;
    color: #242424;
    text-align: left;
    margin-left: 40px;
    padding: 0;
  }
}
@media screen and (min-width: 1000px) {
  .card-general__content--right {
    order: 1;
    margin-left: 0;
    margin-right: 40px;
  }
}
@media screen and (min-width: 1000px) {
  .card-general__images {
    min-width: 40%;
  }
}
@media screen and (min-width: 1000px) {
  .card-general__images--right {
    order: 2;
  }
}
.card-general__images img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.kava,
.dezerty {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

@media screen and (min-width: 680px) {
  .flex-nabidka {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.cena {
  margin-bottom: 5px;
}

.nabidka-item {
  margin-bottom: 40px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 680px) {
  .nabidka-item {
    flex: 0 0 calc((100% - 40px) / 2);
    max-width: 50%;
  }
}
@media screen and (min-width: 1000px) {
  .nabidka-item {
    flex: 0 0 calc((100% - 100px) / 4);
    max-width: 80%;
  }
}
.nabidka-item__img {
  display: block;
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 680px) {
  .nabidka-item__img {
    height: 420px;
  }
}
@media screen and (min-width: 1000px) {
  .nabidka-item__img {
    height: 420px;
    width: 100%;
  }
}
.nabidka-item__content {
  padding: 20px;
  text-align: center;
  background-color: #2F2D2E;
  color: white;
  height: auto;
}
@media screen and (min-width: 680px) {
  .nabidka-item__content {
    height: 200px;
  }
}
@media screen and (min-width: 1000px) {
  .nabidka-item__content {
    height: 260px;
    padding-top: 36px;
  }
}

.fotogalerie-kavarna,
.fotogalerie-zakaznik {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;
}

.grid img {
  width: 100%;
  border-radius: 2px;
  -o-object-fit: cover;
     object-fit: cover;
}

.akce-news,
.akce-archiv {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.kontakt-formular,
.kontakt-cards {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.title-kontaktni-formular {
  margin-bottom: 18px;
  text-align: center;
}

.form-field {
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .form-field {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

.form-field > label {
  display: block;
  font-size: 16px;
  color: grey;
}

.form-field input[type=text],
.form-field input[type=email],
.form-field textarea {
  width: 100%;
  border: 1px solid silver;
  border-radius: 4px;
  font-size: 16px;
  padding: 5px;
}

.required {
  color: tomato;
}

.button {
  background-color: #2F2D2E;
  color: white;
  padding: 10px 20px;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
}

.button:hover {
  background-color: #D19C1D;
}

.button-kontejner {
  display: flex;
  justify-content: center;
}

.phone {
  margin-bottom: 0;
}

.card-kontakt__template {
  border: 1px solid silver;
  box-shadow: 1px 2px 3px #808080;
  padding: 20px;
  margin-bottom: 40px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 800px) {
  .card-kontakt__template {
    min-width: 100%;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1000px) {
  .card-kontakt__template {
    min-width: 80%;
  }
}
.card-kontakt__content {
  padding: 20px;
  text-align: center;
}
@media screen and (min-width: 800px) {
  .card-kontakt__content {
    padding: 20px 0 0 0;
  }
}
@media screen and (min-width: 800px) {
  .card-kontakt {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .card-kontakt {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
  }
}

html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

/*============================================================================================================*/
body {
  margin: 0;
  line-height: 1.5;
  color: #242424;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 56px;
  font-family: "Sacramento", cursive;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  font-family: "Gentium Book Basic", serif;
  margin-top: 0;
}

h3 {
  font-size: 22px;
  font-family: "Gentium Book Basic", serif;
  margin: 0;
}

a {
  color: #D19C1D;
}

/*section{
    margin-bottom:80px;
}
*/
/*=========section homepage-about"==========*/
.homepage-about {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.card-grid__link {
  color: #242424;
  text-decoration: none;
}
.card-grid__template {
  border: 1px solid silver;
  box-shadow: 1px 2px 3px #808080;
  padding: 20px;
  margin-bottom: 40px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1000px) {
  .card-grid__template {
    border: 0;
    box-shadow: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
}
.card-grid__content {
  padding: 20px;
  text-align: center;
}
@media screen and (min-width: 1000px) {
  .card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-items: center;
  }
}

.fas {
  font-size: 60px;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}

/*=========section homepage-akce"==========*/
.homepage-akce {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.glide {
  box-shadow: 1px 2px 3px #808080;
  max-width: 60%;
  max-height: auto;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1000px) {
  .glide {
    max-width: 40%;
  }
}
.glide__slides {
  margin: 0;
}

.glide__slide img {
  width: 100%;
  border-radius: 5px;
}
@media screen and (min-width: 1000px) {
  .glide__slide img {
    width: 86%;
  }
}

.card-slider__title {
  font-size: 22px;
  font-family: "Gentium Book Basic", serif;
  padding-top: 20px;
  font-weight: bold;
}

.card-slider__content {
  padding: 40px 20px;
  text-align: center;
}
@media screen and (min-width: 680px) {
  .card-slider__content {
    padding: 40px 60px;
  }
}/*# sourceMappingURL=style.css.map */