@use "basic";

.akce-news,
.akce-archiv{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

//pro akce použit stejný template jako pro stranku onas (card-general), styl je v onas.scss !!!!
