//COLOR
$c-primary-text: #242424;
$c-secondary-text: #D19C1D;
$c-primary-background: #2F2D2E;
$c-button:white;
$c-button-form:#2F2D2E;
$c-button-hoover:#D19C1D;//#D4AA7D; //rgb(223, 185, 128);

//FONT-FAMILY
$font-basic: 'Nunito Sans', sans-serif;
$font-special: 'Gentium Book Basic', serif;
$font-nav: 'Poppins', sans-serif;
$font-title:'Sacramento', cursive;//'Montez', cursive, serif;


//FONT SIZE
$size-default: 16px;
$size-title1: 56px;
$size-title2: 24px;
$size-title3: 22px;
$size-menu: 20px;

/*
Breakpointy
Mobil   0 - 539px
Tablet  540px - 959px (čti jako 540px a víc)
PC      960px a víc
*/