@use "basic";

.footer{

    
    &__grid{
        
        //display: flex;
        //justify-content: space-around;
        
        padding: 40px;
        background-color: basic.$c-primary-background; 
        color: white;
        text-align: center;
        
        
        @media screen and (min-width: 680px){
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            justify-items: center;
            justify-items: center;

        }


    }

    &__grid-column{
        margin-bottom: 20px;
        @media screen and (min-width: 680px){
            grid-column: span 1;
            margin-bottom: 0;
            }
    }

    &__copyright{
        color:basic.$c-secondary-text;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        padding: 15px; 
    }
}

   

    

   