@use "basic";

//logo a menu vedle sebe
.header{

    @media screen and (min-width: 1000px) {
        margin-top:20px;
        display: flex;
        justify-content:space-between;
        align-items: center;
        background-color: white;
        margin-left: auto;
        margin-right: auto; 
        width: 100%; 
    }
  

    &__logo{

        width: 280px; 
        margin-left: 20px; 
    }
        
    }



.menu{
    &__checkbox{
      position: absolute;
      left: -9999px; 
    }


    &__list{
        display: none;
        padding:0;
        margin:0;
        list-style: none;
        background-color: basic.$c-primary-background;
        

        @media screen and (min-width: 1000px) {
            margin-right: 40px;
            display: flex;
            background-color: white;
        }
        
    }

    &__item{
        border-bottom: 1px solid white;

        @media screen and (min-width: 1000px) {
            border-bottom: 0;
        }
    }

    &__link{
        display: block;
        text-decoration: none;
        padding: 10px 10px;
        color: white;
        border-radius: 0px;
        font-family: basic.$font-nav;
        font-weight: normal;
        font-size: basic.$size-menu;

        @media screen and (min-width: 1000px) {
            color: basic.$c-primary-text;
            font-weight: bold;
            border-radius: 15px;
        }

        &:hover{
            background-color: basic.$c-button-hoover;
            color: white;
        }
        
    }

    .menu__item--active .menu__link{

        color: basic.$c-button-hoover;

            &:hover{
                color: white;

                @media screen and (min-width: 1000px){
                    background-color: basic.$c-button-hoover;
                    color: white;
                }
            }
        
    }

    @media screen and(max-width: 999px){
        .menu__checkbox:checked ~ .menu__list {
        display: block;      
        }
    }

    .menu__toggler{
        cursor: pointer;

        @media screen and (min-width: 1000px) {
            display: none;
        }
    }

    .tog{
        font-weight: bold;
        font-size: 38px;
        //margin-left: 40px;
        position: absolute;
        right: 50px;
        top: 65px;
        
    }
}

