@use "basic";

.kava,
.dezerty{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.flex-nabidka{

    @media screen and (min-width: 680px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }
}

.nabidka-item{
        //border: 2px solid silver;
        margin-bottom: 40px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;


        @media screen and (min-width: 680px) {
            flex: 0 0 calc((100% - 40px) / 2);
            max-width: 50%;
        }

        @media screen and (min-width: 1000px) {
            flex: 0 0 calc((100% - 100px) / 4);
            max-width: 80%;
        }
        
    


    &__img{
        display: block;
        width: 100%;
        height: 460px;

        @media screen and (min-width: 680px) {
           height: 460px;
            
        }

        @media screen and (min-width: 1000px) {
            height: 460px;
            width: 100%;
           
        }
    }

    &__content{
        padding: 20px;
        text-align: center;
        background-color: basic.$c-primary-background;
        color: white;
        height: auto;

        @media screen and (min-width: 680px) {
            height: 160px;
             
         }

         @media screen and (min-width: 1000px) {
            height: 240px;
           
        }

        
    }

   



/*
.button{
    display: inline-block;
    padding: 10px 20px;
    background-color: basic.$c-button;
    color: basic.$c-primary-text;
    font-family: basic.$font-nav;
    font-weight: bold;
    text-decoration: none; 
    border-radius: 5px;

    &:hover{
        background-color: #D19C1D;
    }
*/
}