@use "basic";


.card-general{
    padding: 40px;
    margin-bottom: 40px;
   // background-color: basic.$c-primary-background;
    border: 1px solid silver;
    border-radius: 10px;
    box-shadow: 1px 2px 2px #dbdbdb;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}

.card-general__content{
    background-color: white;
    padding: 20px;
   // background-color: basic.$c-primary-background;
    //color: white;
    text-align: center;
}

.card-general__images img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 10px;
    object-fit: cover;
}



@media screen and(min-width: 1000px){
    .card-general{
        display:flex;
        align-items: center;
        //width: 90%;
    }

    .card-general__content{
        background-color: white;
        color: basic.$c-primary-text;
        text-align: left;
        margin-left: 40px;
        padding: 0;   
    }

    .card-general__images{
       min-width: 40%;   
    }

    .card-general__images img{
        display: block;
        margin: 0 auto;
        max-width: 100%;
        margin: 0;
        border-radius: 10px;
    }

    .card-general__images--right{
        order:2;
    }

    .card-general__content--right{
        order: 1;
        margin-left: 0;
        margin-right: 40px;
    }


    .about-content{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

