@use "basic";
@use "header";
@use "hero";
@use "footer";
@use "onas";
@use "nabidka";
@use "fotogalerie";
@use "akce";


html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


/*============================================================================================================*/

body{
    margin: 0;
    line-height: 1.5;
	color: basic.$c-primary-text;
    font-family: basic.$font-basic;
    font-size: basic.$size-default;
}

h1{
    font-size: basic.$size-title1;
    font-family: basic.$font-title;//basic.$font-special;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;

}

h2{
    font-size: basic.$size-title2;
    font-family: basic.$font-special; 
    margin-top: 0;
   
    
}

h3{
    font-size: basic.$size-title3;
    font-family: basic.$font-special; 
    margin: 0;
}

a{
    color: basic.$c-secondary-text;
}

section{
    margin-bottom:80px;
}




/*=========section homepage-about"==========*/

.homepage-about{

    @media screen and (min-width: 1000px) {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
       
    }
}



.card-grid{

    &__template{
        border: 1px solid silver;
        box-shadow: 1px 2px 3px #808080;
        padding: 20px;
        margin-bottom: 40px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;

        @media screen and (min-width: 1000px){
            border: 0;
            box-shadow: none;
            padding: 0;
            margin: 0;
            width: 100%;
        }    

        
    }

    &__content{
        padding: 20px;
        text-align: center;
    
        
    }



    @media screen and (min-width: 1000px){
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-items: center;//nefunguje
    //padding: 60px;
    //background-color: basic.$c-primary-background; 
    //color: white;
    }
}


.fas{
    font-size: 60px;
    display: block; //zarovnání obrázku na střed
    margin: 0 auto; //zarovnání obrázku na střed
    text-align: center;//zarovnání obrázku na střed
    padding-top: 20px;
    } 



/*=========section homepage-akce"==========*/
.homepage-akce{

    @media screen and (min-width: 1000px) {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        }
    }

.glide{
    box-shadow: 1px 2px 3px #808080;
    max-width: 60%;
    max-height: auto;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 1000px) {
        max-width: 40%;
    }

}


.glide__slides{
    margin: 0;
}


.glide__slide img{
    
    width: 100%;
    border-radius: 5px;

    @media screen and (min-width: 1000px) {
        width: 86%;
    }
}

.card-slider__title{
        font-size: basic.$size-title3;
        font-family: basic.$font-special; 
        padding-top: 20px;
        font-weight: bold;
    }
    

.card-slider__content{
    padding:40px 60px;
    text-align: center;
}

.glide__arrow{
    color: black;
    fill: black;
    background-color: black;
}






