@use "basic";
@use "header";
@use "hero";
@use "footer";
@use "onas";
@use "nabidka";

html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


/*============================================================================================================*/

body{
    margin: 0;
    line-height: 1.5;
	color: basic.$c-primary-text;
    font-family: basic.$font-basic;
    font-size: basic.$size-default;
}

h1{
    font-size: basic.$size-title1;
    font-family: basic.$font-title;//basic.$font-special;
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;

}

h2{
    font-size: basic.$size-title2;
    font-family: basic.$font-special; 
    margin-top: 0;
   
    
}

h3{
    font-size: basic.$size-title3;
    font-family: basic.$font-special; 
}

a{
    color: basic.$c-secondary-text;
}

section{
    margin-bottom: 50px;
}




/*=========section homepage-about"==========*/

.homepage-about{

    @media screen and (min-width: 1000px) {
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
       
    }
}

.glide{
    @media screen and (max-width: 999px){
    display: none;
    }
}

.card-grid{

    &__template{
        border: 1px solid silver;
        box-shadow: 1px 2px 3px #808080;
        padding: 20px;
        margin-bottom: 40px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;

        @media screen and (min-width: 1000px){
            border: 0;
            box-shadow: none;
            padding: 0;
            margin: 0;
            width: 100%;
        }    

        
    }

    &__content{
        padding: 20px;
        text-align: center;
    
        
    }



    @media screen and (min-width: 1000px){
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-items: center;//nefunguje
    padding: 60px;
    //background-color: basic.$c-primary-background; 
    //color: white;
    }
}


.fas{
    font-size: 60px;
    display: block; //zarovnání obrázku na střed
    margin: 0 auto; //zarovnání obrázku na střed
    text-align: center;//zarovnání obrázku na střed
    padding-top: 20px;
    } 


/*=========section homepage-akce"==========*/
.homepage-akce{

    @media screen and (min-width: 1000px) {
        width: 1400px;
        margin-left: auto;
        margin-right: auto;
        }
    }

.glide{
    background-color: basic.$c-primary-background;

}

.card-slider{
    
    padding: 40px;
    border-radius: 6px;
    background-color: white;
    margin: 40px;
    
}

.card-slider__content{
    padding:60px 100px 20px 100px;
}



.glide__slide img{
    
    width: 500px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;

}



